<!DOCTYPE html>
<!-- Angular app 'myApp' -->
<html ng-app="myApp">
<head>
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
</head>

<body>

    <input type="text" ng-model="name" placeholder="Your name">
    <h1>Hello {{name}}</h1>
    <h2>Hello {{testProperty}}</h2>
    <!-- The controller 'MyController' is attached to this DOM element 'div' -->
    <div ng-controller="MyController">
        <h5>{{clock.now}}</h5>
    </div>
    
    <div ng-controller="FirstController">
        <h4>Adding -Subtracting</h4>
        <button ng-click="add(1)" class="btn btn-default">Add</button>
        <button ng-click="subtract(1)" class="btn btn-default">Subtract</button>
        <h5>Current count: {{counter}}</h5>
    </div>
    
    <div ng-controller="InterpolateController">
        <input type="email" ng-model="to" placeholder="To:"/><br/>
        <textarea ng-model="emailBody"></textarea>
        <pre>{{previewText}}</pre>
    </div>
    
    <script src="js/ngbook-1.js"></script>

</body>
</html>